.addproduct-add {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 22px;
    width: 50%;
    margin: 70px auto;
    border-radius: 10px;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.7);
}

.addprouct-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.addproduct {
    height: calc(100vh - 57px);
}


.addForm {
    width: 85%;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    background: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.addForm h1 {
    font-size: 20px;
    padding-left: 20px;
    color: white;
    font-weight: 400;
}

.addform-header {
    background-color: #1ab8ea;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.addform-content {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 20px auto;
    flex-wrap: wrap;

}

.search-input {
    width: 50%;
    margin: 10px 0;

}

.search-input input {
    width: 90%;
    height: 30px;
    padding-left: 10px;
}

.search-input p {
    font-size: 16px;
}

.search-input textarea {
    width: 86.5%;
    height: 200px;
    padding: 15px;
    font-size: 16px;
}

.search-input img {
    width: 60%;
}

.add-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.add-btn button {
    width: 50%;
    height: 40px;
}

.add-btn p {
    color: lawngreen;
    font-size: 12px;
}

.input_error {
    font-size: 12px !important;
    color: red;
}

/* 
.addproduct-show {
    display: flex;
    width: 75%;
    margin: auto;
    flex-direction: column;
    border-top: 1px solid #1ab7ea;
}

.addproduct-list {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.deleteimage {
    display: none;
}

.add-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;

}

.box-shadow {
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.04);
}

.add-content input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
}

.add-content button {
    width: 20%;
    height: 30px;
    margin: 20px 0;
}

.isempty {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.picture {
    width: 200px;
}

.picture img {
    width: 100%;
}

.addproduct-list {
    display: flex;
    justify-content: center;
}

.addproduct-add p {
    color: white;
    background-color: #1ab7ea;
    width: 50%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
}

.addproduct-add input {
    color: white;
}

.hiden {
    display: none;
}

button {
    padding: 5px 10px;
    border: 1px solid black;
    transition: 250ms background-color;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

button:disabled:hover {
    opacity: 0.6;
    cursor: not-allowed;
}

.text-center {
    text-align: center;
}

.stepper-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#stepProgressBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 20%;
    max-height: 100px;
}

.step {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.step-text {
    color: white;
    margin: 0;
    font-size: 12px;
    padding-left: 10px;
}

.bullet {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    border: 1.5px solid white;
    color: #28a745;
    display: inline-block;
    position: relative;
    transition: background-color 500ms;
    line-height: 20px;
}

.completed,
.finished {
    background-color: white;
    color: white;
}

.completed::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: white;
    height: 30px;
    right: 1px;
    bottom: -39px;

}



.stepAddImage,
.owner {
    width: 100%;
    color: white;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.04);
    margin-bottom: 50px;
    padding-left: 20px;
    min-height: 100px;
}

#main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    justify-content: center;

}

.imageAdd {
    width: 340px;
}

.imageAdd img {
    width: 100%;
}

.padding {
    padding-bottom: 30px;
}

.stepAddInformation {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.04);
    justify-content: center;
    margin-bottom: 50px;

}

.stepAddInfo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.informationForm {
    width: 250px;
}

.informationForm p {
    color: white;
    margin: 0 0 20px 0;
}

.search-input {
    display: flex;
    justify-content: center;
}

.search-input input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
}

.imageAdd {
    min-height: 100px;
}

.addConfirm {
    margin-bottom: 50px;
}

.styleP {
    background-color: white;
    color: black !important;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border-radius: 10px;
}

.detail {
    background-color: white;
    color: black !important;
    height: 100px;
    line-height: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    word-wrap: break-word;
}

.controlBtn button {
    margin-right: 20px;
} */