.product-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.product-time p {
    background-color: greenyellow;
    width: 30%;
    text-align: center;
    height: 30px;
    line-height: 30px;
}